.advantages {
    height: 575px;
    padding: 69px 268px 90px 252px;
    background-image: url(./img/advantages-bg.png);
    background-repeat: no-repeat;
}

.advantages-header-container {
    width: 1400px;
    display: flex;
    justify-content: space-between;
}

.advantages-header {
    font-size: 36px;
    font-weight: 500;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    margin-bottom: 107px;
}

.learn-more-btn {
    width: 325px;
    height: 60px;
    color: rgba(255, 255, 255, 1);
    font-size: 24px;
    font-weight: 700;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 5px;
    background-color: transparent;
    margin-top: -9px;
    cursor: pointer;
}

.advantages-container {
    display: flex;
    margin-left: 227px;
}

.advantages-item {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
    color: rgba(229, 229, 229, 1);
    width: 226px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.advantages-item:not(:last-child) {
    margin-right: 135px;
}

.adv-text {
    width: 226px;
}

.adv-1, .adv-2, .adv-3 {
    width: 162px;
    height: 162px;
    background-repeat: no-repeat;
    background-size: 162px 162px;
    margin-bottom: 34px;
}

.adv-1 {
    background-image: url(./img/adv-1.png);
}

.adv-2 {
    background-image: url(./img/adv-2.png);
}

.adv-3 {
    background-image: url(./img/adv-3.png);
}